<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <style type="text/css">
        body {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 16px;
            color: #F93F14;
        }
        .container {
            margin: 0 auto;
            width: 100%;
            max-width: 900px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, eum iusto minus nihil nobis odit praesentium quae quo vel voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, totam?</p>
    <p><a href="https://9gag.com">GO FUN YOURSELF!</a></p>
</div>
</body>
</html>