<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homework-41</title>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap">
</head>
<body>
	<header class="header">
		<div class="container clearfix">
			<a href="#" class="logo">
				<h1>Site name</h1>
			</a>
			<nav class="nav">
				<a href="#" class="nav-link">Home</a>
				<a href="#" class="nav-link">About</a>
				<a href="#" class="nav-link">Work</a>
				<a href="#" class="nav-link">Contact</a>
			</nav>
		</div>
	</header>
	<section id="quote">
		<div class="container clearfix">
			<div class="text-center">
				<h2>cras ornare trist lorem ipsum</h2>
				<p>cusce pellentesque susc</p>
				<a href="#" class="more">read more</a>
			</div>
		</div>
	</section>
	<section id="blocks">
		<div class="container">
			<div class="flex-row">
				<div class="box box-1">
					<i class="icon chat"></i>
					<a href="#" class="ref">vestibulum auctor</a>
					<p class="paragraph">Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat voluptat</p>
				</div>
				<div class="box box-2">
					<i class="icon pencil"></i>
					<a href="#" class="ref">integer vitae lib</a>
					<p class="paragraph">Jiraesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat voluptat</p>
				</div>
				<div class="box box-3">
					<i class="icon crown"></i>
					<a href="" class="ref">tempor interdum</a>
					<p class="paragraph">Sed adipiscing ornare risus. Morbi est est, b landit sit amet, sagitlis vel, euismod vel, velit. Pellentesque egestas sem suspendisse commodo ullamcorper</p>
				</div>
				<div class="box box-4">
					<i class="icon user"></i>
					<a href="#" class="ref">felis quis tortor</a>
					<p class="paragraph">Lorem dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat voluptat.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="tempor">
		<div class="container clearfix">
			<div class="second-text">
				<h2 class="tempor-interdum">temport inderdum</h2>
				<p class="lined-sides">integer vitae libero ac risus egestas placerat</p>
			</div>
		</div>
	</section>
	<section id="users">
		<div class="container clearfix">
			<div class="user-cards">
				<div class="card card-1">
					<img src="../static/img/photo-1.jpg" alt="first">
					<p>Cing ornare risus. Morbi est est, binto sin landit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper</p>
					<a href="#" class="read-more red">read more</a>
				</div>
				<div class="card card-2">
					<img src="../static/img/photo-2.jpg" alt="second">
					<p>Joren ornare risus. Morbi est est, binto sin landit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper</p>
					<a href="#" class="read-more yellow">read more</a>
				</div>
				<div class="card card-3">
					<img src="../static/img/photo-3.jpg" alt="">
					<p>Lorem ornare risus. Morbi est est, binto sin landit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper</p>
					<a href="#" class="read-more cyan">read more</a>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container clearfix">
			<p class="w-c">Copyright(c) website name.</p>
			<p class="y-c">Designed by: <a href="#" class="link">www.alltemplateneeds.com</a></p>
		</div>
	</footer>
</body>
</html>